<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}

    <div class="container">
        <main id="main-content" itemscope itemtype="http://schema.org/WebPage">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>


    <button id="backToTop" class="back-to-top" aria-label="Back to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 15l-6-6-6 6"/></svg>
    </button>
</body>
</html>
